[user]
	email = sviande@gmail.com
	name = Sébastien Viande
[color]
	ui = true

[alias]
	st = status
	co = checkout
        lg = log --graph --full-history --all --no-prefix --color --pretty=format:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%x1b[0m%x20%s%x1b[36m%x20%an%x1b[0m%x20"
