[user]
  email = sviande@gmail.com
  name = Sébastien Viande

[color]
  ui = true

[alias]
  st = status -sb
  co = checkout
  lg = log --graph --full-history --all --no-prefix --color --pretty=format:'%C(red)%h%C(reset)%x09%C(green)%d%C(reset) %s %C(cyan)<%an>%C(reset) %C(blue)(%ar)%C(reset)'
  cdiff = diff --cached
  mt = mergetool
  please = push --force-with-lease
  conflicts = diff --name-only --diff-filter=U
  cia = commit --amend --no-edit
  sl = stash list --pretty=format:\"%C(red)%h%C(reset) - %C(dim yellow)(%C(bold magenta)%gd%C(dim yellow))%C(reset) %<(70,trunc)%s %C(green)(%cr) %C(bold blue)<%an>%C(reset)\"

[grep]
  linenumber = true
[merge]
	tool = diffconflicts
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[mergetool "diffconflicts"]
	cmd = vim -c DiffConflicts \"$MERGED\" \"$BASE\" \"$LOCAL\" \"$REMOTE\"
	trustExitCode = true
[mergetool]
	keepBackup = false
