[user]
  email = sviande@gmail.com
  name = Sébastien Viande
[color]
  ui = true

[alias]
  st = status -sb
  co = checkout
  lg = log --graph --full-history --all --no-prefix --color --pretty=format:'%C(red)%h%C(reset)%x09%C(green)%d%C(reset) %s %C(cyan)<%an>%C(reset) %C(blue)(%ar)%C(reset)'
  cdiff = diff --cached
  mt = mergetool
  please = push --force-with-lease

[grep]
  linenumber = true
[merge]
  tool = vimdiff
